* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	color: rgb(41, 46, 48);
}

html {
	scroll-behavior: smooth;
}

.header {
	height: 85px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #dbb60e;
	position: fixed;
	z-index: 2;
	top: 0;
}

.nav {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
}

.social {
	width: 40%;
	height: 85px;
	display: flex;
}

.social img {
	width: 30px;
	margin-left: 5%;
}

.social img:first-of-type {
	margin-left: 0;
}

.nav_items {
	display: flex;
	align-items: center;
	width: 33%;
	justify-content: space-between;
	padding-right: 1%;
}

.nav_items a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}

.nav_items a:hover {
	text-decoration: underline;
}

.nav_button {
	margin: auto 0;
	background-color: #dbb60e;
	padding: 1% 4%;
	border: 2px solid #fff;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

.nav_button:hover {
	box-shadow: 0 0 5px rgb(124, 124, 124);
}

.call-back {
    font-size: 14px;
}

/* Main page */

.main-page {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	padding: 3% 0;
	position: relative;
	padding-bottom: 120px;
	margin-top: 85px;
}

.main-page-text {
	width: 50%;
}

.main-page-text img {
	position: absolute;
	z-index: -1;
	width: 30%;
	top: 5%;
	left: 15%;
	transform: rotate(270deg);
	opacity: 0.7;
}

.main-page-img {
	width: 50%;
	display: flex;
}

.main-page-img img {
	width: 90%;
	margin: 0 auto;
}

.main-page-text h1,
.main-page-text p {
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

.main-page-text h1 {
	font-size: 140px;
	font-weight: 900;
	color: #dbb60e;
}

.main-page-text p:nth-child(1) {
	font-size: 45px;
}

.main-page-text p:nth-child(3) {
	font-size: 24px;
	font-weight: 400;
	margin-top: 2%;
}

.main-page-text p:nth-child(4) {
	text-decoration: line-through;
	font-size: 35px;
	margin: 2% 0;
}

.main-page-text p:nth-child(5) {
	background-color: #dbb60e;
	width: 325px;
	padding: 0.3% 0;
	margin: 1% auto;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
}

.main-page-text p:nth-child(6) {
	font-size: 24px;
	margin-top: 2.5% !important;
}

.limited-span {
	background: url('img/limited-painting.png') 50% 15% no-repeat;
	background-size: cover;
	padding: 0.8%;
	color: #fff;
	font-size: 24px;
}

.pick-colors {
	position: absolute;
	bottom: 5%;
	background-color: #104535;
	cursor: pointer;
	transition: 0.1s;
	width: 250px;
	text-align: center;
	padding: 12px 0;
}

.pick-colors:hover,
.card-button button:hover {
	background-color: #dbb60e;
}

.pick-colors a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

/* Box */

.box {
	background-color: #dbb60e;
	display: flex;
	position: relative;
}

.box-text {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gift-img {
	display: flex;
	align-items: center;
	width: 70%;
	margin-bottom: 2%;
	margin-left: auto;
}

.gift-img img {
	width: 65px;
	height: 65px;
	margin-right: 20px;
}

.box-text__inner {
	width: 70%;
	margin-left: auto;
}

.box-text__inner p {
	color: #fff;
	width: 80%;
}

.box-text h2 {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
}

.box-text p {
	font-size: 24px;
}

.box-text span {
	text-transform: none;
	color: #fff;
}

.gift-text-span {
    letter-spacing: 18px;
    text-transform: uppercase !important;
}

.box-img {
	width: 50%;
	margin-right: auto;
}

.box-img img {
	width: 80%;
}

.limited {
	font-size: 16px !important;
	color: rgb(41, 46, 48);
	text-align: center;
	margin-top: 54px;
}

/* Catalog */

.catalog {
	background-color: rgb(245, 245, 245);
	position: relative;
	padding-bottom: 80px;
}

.catalog h2 {
	font-size: 35px;
	text-align: center;
	padding: 3% 0 2%;
	text-transform: uppercase;
	color: #dbb60e;
}

.set-cards {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.set-card {
	width: 48%;
	background-color: #fff;
	margin-bottom: 4%;
	display: flex;
	justify-content: space-between;
}

.gallery-list {
	display: flex;
	justify-content: space-between;
	width: 45%;
	margin: 0 auto;
	flex-wrap: wrap;
}

.gallery-list img {
	width: 47%;
	margin: 0 auto;
	padding-top: 3%;
	transition: 0.2s;
}

.gallery-item img:hover {
	opacity: 0.7;
}

.gallery-item {
	width: 49%;
}

.gallery-item img {
	width: 100%;
}

.pick-set button {
	position: absolute;
	bottom: 1%;
	background-color: #104535;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: 0.1s;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	width: 250px;
	text-align: center;
	padding: 12px 0;
	font-size: 16px;
}

.pick-set button:hover {
	background-color: #dbb60e;
}

.catalog h3 {
	text-align: center;
	padding: 3% 0;
	font-size: 22px;
	text-transform: uppercase;
}

.info {
	width: 50%;
}

.info h3 {
	color: #dbb60e;
	text-align: left;
	font-size: 30px;
}

.info-item {
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 17px;
}

.info__inner span {
	font-weight: bold;
}

.info__inner {
	font-size: 18px;
	width: 98%;
	margin: 0 auto;
}

.info__inner div:nth-child(3) {
	margin: 30px 0 15px;
}

#size-1:checked ~ label[for='size-1'] {
	background-color: #dbb60e;
	color: #fff !important;
	width: 45px !important;
	height: 45px !important;
}

#size-2:checked ~ label[for='size-2'] {
	background-color: #dbb60e;
	color: #fff !important;
	width: 45px !important;
	height: 45px !important;
}

#size-3:checked ~ label[for='size-3'] {
	background-color: #dbb60e;
	color: #fff !important;
	width: 45px !important;
	height: 45px !important;
}

#size-4:checked ~ label[for='size-4'] {
	background-color: #dbb60e;
	color: #fff !important;
	width: 45px !important;
	height: 45px !important;
}

.label {
	color: #dbb60e;
	border: 1px solid #dbb60e;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.1s linear;
}

.price {
	display: flex;
	align-items: center;
	margin: 10% 0;
}

.card-crossed-price {
	text-decoration: line-through;
	font-size: 25px;
	margin-right: 5%;
}

.card-price {
	font-size: 40px;
	font-weight: bold;
	color: #dbb60e;
}

.card-button button {
	background-color: #dbb60e;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 3% 9%;
	font-weight: bold;
	width: 90%;
	height: 50px;
	cursor: pointer;
	transition: 0.1s;
}

.card-button button:hover {
	background-color: #104535;
}

.gift-box-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.gift-box-img p {
	text-align: left;
	font-weight: 500;
	font-size: 17px;
	position: relative;
	padding-left: 5%;
	width: 80%;
}

.gift-box-img img {
	width: 40px;
	height: 40px;
}

/* Best */

.best {
	width: 60%;
	margin: 0 auto 2%;
}

.best h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	margin-top: 5%;
	padding-right: 5%;
}

.lowercase {
	text-transform: none;
}

.orange-color {
	color: #dbb60e;
}

.best-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 7%;
}

.best-item {
	width: 30%;
	margin: 0 1% 10%;
	position: relative;
}

.best-item img:first-of-type {
	position: absolute;
	z-index: -1;
	width: 80%;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.best-item img:last-of-type {
	width: 20%;
}

.best-item h4 {
	padding: 1% 0 4%;
}

/* Delivery */

.delivery {
	background-color: #dbb60e;
	display: flex;
	align-items: center;
	height: 524px;
}

.delivery-img {
	height: 524px;
	background-position: right center;
	background-size: cover;
	background-image: url(img/delivery-img.jpg);
	width: 33%;
}

.delivery-car {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 33%;
	cursor: pointer;
}

.delivery-car a {
	text-transform: uppercase;
	color: #fff;
	font-size: 35px;
	text-decoration: none;
	font-weight: bold;
}

.delivery-car img {
	width: 128px;
}

.delivery-subway {
	background: url(img/subway.jpg) 100% no-repeat;
	background-size: cover;
	width: 34%;
	height: 100%;
}

.delivery-subway img {
	width: 100%;
}

.delivery-subway {
	display: flex;
	align-items: center;
	position: relative;
}

.dark-bg {
	background-color: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	position: absolute;
	opacity: 0.6;
}

.delivery-subway h2 {
	text-transform: uppercase;
	color: #fff;
	font-size: 35px;
	text-align: center;
	width: 80%;
	margin: auto;
	z-index: 2;
	line-height: 1.4;
}

/* Delivery Conditions */

.delivery-conditions,
.size-table {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	display: none;
}

.size-table.active {
	display: flex;
}

.size-table-button {
	cursor: pointer;
}

.delivery-conditions.active {
	display: flex;
}

.delivery-conditions__inner {
    padding: 10px;
}

.delivery-conditions__inner,
.size-table__inner {
	max-width: 90%;
	max-height: 90%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.size-table__inner {
    padding: 15px;
}

.size-table__inner table {
	width: 500px;
	height: 120px;
	text-align: center;
}

.size-table__inner table:first-of-type {
    margin-bottom: 8px;
}

.delivery-conditions__inner table {
	width: 900px;
	height: 120px;
}

.delivery-conditions__inner caption,
.size-table__inner caption {
	text-transform: uppercase;
	padding-bottom: 20px;
}

.delivery-conditions__inner tr {
	text-align: center;
}

.close-delivery-table,
.close-size-table {
	width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
	right: 10px;
	cursor: pointer;
}

/* Adaptation */

@media screen and (max-width: 1500px) {
	.best {
		width: 70%;
	}

	.nav {
		width: 70%;
	}

	.gift-box-img p {
		font-size: 13px;
	}

	.gift-box-img img {
		width: 30px;
		height: 30px;
	}

	.card-button button {
		height: 40px;
	}

	.info__inner div:nth-child(3) {
		margin: 15px 0;
	}

	.info h3 {
		font-size: 25px;
	}

	.social {
		width: 30%;
	}

	.nav_items {
		width: 43%;
	}

	.main-page-img img {
		width: 110%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1370px) {
	.box-text__inner p {
	    width: 100%;
    }
	
	.card-crossed-price {
		font-size: 20px;
	}

	.card-price {
		font-size: 30px;
	}

	.info-item {
		font-size: 15px;
	}

	.best {
		width: 80%;
	}

	.gift-img h2 {
		font-size: 19.5px;
	}
    
    .gift-text-span {
        letter-spacing: 15px;
    }
    
	.box-text__inner p {
		font-size: 22px;
	}

	.main-page-img img {
		width: 130%;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 1250px) {
	.delivery-subway h2 {
		font-size: 25px;
	}

	.delivery-car a {
		font-size: 25px;
	}

	.catalog h2 {
		font-size: 25px;
	}

	.box-text__inner p {
		font-size: 20px;
	}

	.nav {
		width: 80%;
	}

	.set-cards {
		width: 85%;
	}

	.best-item p {
		font-size: 14px;
	}

	.best-item h4 {
		font-size: 14px;
	}

	.best-item img:last-of-type {
		width: 15%;
	}

	.info__inner div:nth-child(3) {
		margin: 12px 0 10px;
	}

	.card-button button {
		height: 35px;
	}

	.best h2 {
		font-size: 25px;
	}
}

@media screen and (max-width: 1100px) {
	.main-page {
		width: 90%;
	}

	.delivery-img {
		display: none;
	}

	.delivery {
		height: 300px;
	}

	.delivery-subway {
		width: 50%;
	}

	.delivery-car {
		width: 50%;
	}

	.main-page-img img {
		width: 110%;
	}

	.catalog {
		padding-bottom: 80px;
	}

	.gift-img h2 {
		font-size: 18px;
	}
    
    .gift-text-span {
        letter-spacing: 14px;
    }
    
	.gift-img img {
		width: 50px;
		height: 50px;
	}

	.card-button button {
		font-size: 12px;
		height: 40px;
	}

	.gift-box-img p {
		font-size: 13px;
	}

	.social {
		width: 33%;
	}

	.nav_items {
		width: 40%;
	}

	.gift-box-img {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
	}
}

@media screen and (max-width: 1024px) {
	.main-page-text p:nth-child(1) {
		font-size: 36px;
	}

	.main-page-text h1 {
		font-size: 112px;
	}

	.main-page-text p:nth-child(3) {
		font-size: 20px;
		font-weight: 400;
	}

	.main-page-text p:nth-child(4) {
		font-size: 28px;
	}

	.main-page-text p:nth-child(5) {
		width: 285px;
	}

	.main-page-text p:nth-child(6) {
		font-size: 22
		
		px;
	}

	.limited-span {
		font-size: 22px;
	}

	.gift-img h2 {
		font-size: 14px;
	}
    
    .gift-text-span {
        letter-spacing: 12px;
    }
    
	.box-text__inner p {
		font-size: 14px;
	}

	.set-cards {
		width: 93%;
	}

	.best {
		width: 90%;
	}

	.footer {
		flex-direction: column;
		justify-content: space-around;
	}

	.footer p,
	.footer a {
		width: 100%;
		text-align: center;
	}

	.delivery-conditions__inner table {
		font-size: 14px;
	}

	.delivery-conditions__inner table {
		width: 750px;
	}
}

@media screen and (max-width: 920px) {
	.info h3 {
		font-size: 21px;
	}

	.info-item {
		font-size: 13px;
	}

	.card-crossed-price {
		font-size: 17px;
	}

	.card-price {
		font-size: 25px;
	}

	.gift-box-img p {
		font-size: 11px;
	}

	.gift-box-img img {
		width: 25px;
		height: 25px;
	}

	.best-item p,
	.best-item h4 {
		font-size: 13px;
	}

	.card-button button {
		font-size: 11px;
		height: 35px;
	}

	.gift-box-img {
		padding: 15px 0;
	}
}

@media screen and (max-width: 850px) {
	.gift-img h2 {
		font-size: 12px;
	}
    
    .gift-text-span {
        letter-spacing: 11px;
    }
    
	.gift-img img {
		width: 40px;
		height: 40px;
	}

	.box-text__inner p {
		font-size: 13px;
	}

	.social {
		width: 23%;
	}

	.nav_items {
		width: 45%;
	}

	.social img {
		width: 30px;
		margin-left: 8%;
	}

	.delivery-conditions__inner table {
		width: 500px;
		font-size: 12px;
	}
}

@media screen and (max-width: 800px) {
	.set-card {
		width: 70%;
		margin: 0 auto 30px;
	}

	.gallery-list {
		width: 40%;
	}

	.info {
		width: 55%;
	}

	.info-item {
		font-size: 16px;
	}

	.card-crossed-price {
		font-size: 21px;
	}

	.card-price {
		font-size: 30px;
	}

	.gift-box-img p {
		font-size: 14px;
	}

	.gift-box-img {
		justify-content: start;
	}

	.card-button button {
		font-size: 12px;
		height: 35px;
	}

	.nav {
		width: 90%;
	}

	.main-page {
		width: 80%;
	}

	.main-page-text p:nth-child(1) {
		font-size: 29px;
	}

	.main-page-text h1 {
		font-size: 90px;
	}

	.main-page-text p:nth-child(3) {
		font-size: 16px;
	}

	.main-page-text p:nth-child(4) {
		font-size: 22px;
	}

	.main-page-text p:nth-child(5) {
		font-size: 40px;
		width: 230px;
	}

	.main-page-text p:nth-child(6),
	.limited-span {
		font-size: 17.2px;
	}

	.main-page-text {
		width: 40%;
	}

	.main-page-img {
		width: 60%;
	}

	.main-page-img img {
		width: 110%;
	}

	.box-text__inner,
	.gift-img {
		width: 80%;
	}

	.best-item {
		width: 48%;
		margin: 0 2% 10% 0;
		position: relative;
	}

	.best-item p,
	.best-item h4 {
		font-size: 16px;
	}

	.best-item p {
		width: 90%;
	}

	.delivery {
		height: 324px;
	}

	.catalog {
		padding-bottom: 80px;
	}

	.pick-set {
		padding: 1% 2%;
	}
}

@media screen and (max-width: 700px) {
	.nav_items a {
		font-size: 14px;
	}

	.nav_button {
		padding: 0.8% 2.5%;
	}

	.social img {
		width: 25px;
		margin-left: 15%;
	}

	.social {
		width: 15%;
	}

	.nav_items {
		width: 50%;
	}

	.main-page-img img {
		width: 110%;
	}

	.main-page-text {
		width: 50%;
	}

	.main-page-img {
		width: 50%;
	}

	.gift-img h2 {
		font-size: 9px;
	}
    
    .gift-text-span {
        letter-spacing: 9px;
    }
    
	.box-text__inner p {
		font-size: 10px;
	}

	.info-item {
		font-size: 14px;
	}

	.gift-box-img p {
		font-size: 13px;
	}

	.set-card {
		width: 85%;
	}

	.best-item p,
	.best-item h4 {
		font-size: 14px;
	}

	.delivery {
		flex-direction: column;
		justify-content: space-between;
		height: 350px;
	}

	.delivery-car {
		width: 100%;
		height: 50%;
	}

	.delivery-subway {
		width: 100%;
		height: 50%;
	}
}

@media screen and (max-width: 580px) {
	.nav {
		width: 90%;
	}

	.nav_button {
		display: none;
	}

	.nav_items {
		width: 60%;
	}

	.section.main-page {
		display: flex;
		flex-direction: column;
	}

	.main-page-img {
		width: 100%;
	}

	.main-page-img img {
		width: 100%;
		margin-top: 10%;
	}

	.box-text__inner,
	.gift-img {
		width: 95%;
	}

	.box-img img {
		width: 100%;
	}
    
    .box-text h2 {
        font-size: 14px;
        margin-bottom: 2%;
    }
    
    .gift-text-span {
        letter-spacing: 12px;
    }
    
	.set-cards {
		width: 95%;
	}

	.set-card {
		width: 95%;
	}

	.main-page-text {
		width: 100%;
	}

	.main-page-text p:nth-child(1) {
		font-size: 29px;
	}

	.best-items {
		justify-content: center;
	}

	.best-item {
		width: 80%;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 15%;
	}

	.best-item p,
	.best-item h4 {
		text-align: center;
	}

	.best-item p {
		width: 70%;
	}

	.best-item img:first-of-type {
		position: absolute;
		z-index: -1;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.7;
	}

	.best h2 {
		padding-right: 0;
		font-size: 23px;
	}

	.catalog h2 {
		padding: 6% 0 4%;
	}

	.main-page-text p:nth-child(6) {
		margin-top: 2%;
	}

	.main-page {
		padding-bottom: 80px;
	}

	.delivery-conditions__inner table {
		width: 370px; 
		font-size: 10px;
	}

	.size-table__inner table {
		width: 380px;
		font-size: 12px;
	}

	.pick-colors,
	.pick-set button {
		width: 200px;
		font-size: 14px;
		padding: 9px 0;
	}
}

@media screen and (max-width: 580px) {
	.nav_items {
		width: 75%;
	}

	.gift-img img {
		width: 35px;
		height: 35px;
	}

	.box-text__inner p {
		font-size: 13px;
	}

	.info-item {
		font-size: 12px;
	}

	.info h3 {
		font-size: 19px;
	}

	.catalog h2 {
		font-size: 23px;
	}

	.delivery-car a {
		font-size: 23px;
	}

	.delivery-car img {
		width: 100px;
	}

	.delivery-subway h2 {
		font-size: 23px;
	}

	.box {
		flex-direction: column;
		align-items: center;
	}

	.box-text {
		width: 75%;
		margin: 5% auto 0;
	}

	.box-img {
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
	}

	.box-img img {
		width: 80%;
	}

	.pick-set {
		padding: 1.5% 3%;
		width: 60%;
		text-align: center;
	}

	.pick-set a {
		font-size: 14px;
	}

	.catalog {
		padding-bottom: 60px;
	}
}

@media screen and (max-width: 450px) {
	.box-text h2 {
	    font-size: 11px;
	}
	
	.gift-text-span {
        letter-spacing: 10.5px;
    }
    
	.set-card {
		width: 100%;
	}

	.best-item {
		width: 90%;
		margin-right: 0;
	}

	.gallery-list {
		width: 48%;
	}

	.info {
		width: 49%;
	}

	.card-crossed-price {
		font-size: 18px;
	}

	.card-price {
		font-size: 22px;
	}

	.card-button button {
		font-size: 10px;
		height: 30px;
	}

	.pick-set {
		padding: 1.5% 3%;
		width: 60%;
		text-align: center;
	}

	.catalog {
		padding-bottom: 65px;
	}
    
    .delivery-conditions__inner,
    .size-table__inner {
        justify-content: flex-start;
    }

	.delivery-conditions__inner table {
		width: 310px;
		font-size: 9px;
		max-height: 90px;
	}

	.size-table__inner table {
		width: 270px;
		height: 80px;
		font-size: 9px;
	}
	
	.size-table__inner caption,
	.delivery-conditions__inner caption {
	    padding: 0 0 5px;
	}
	
	
}

@media screen and (max-width: 380px) {
	.box-text {
	    width: 90%;
	}
	
	.gift-text-span {
        letter-spacing: 11px;
    }
	
	.gift-box-img p {
		font-size: 10px;
	}

	.gift-box-img img {
		width: 20px;
		height: 20px;
	}

	.card-button button {
		font-size: 9px;
	}

	.info-item {
		font-size: 10px;
	}

	.best h2,
	.catalog h2,
	.delivery-car a,
	.delivery-subway h2 {
		font-size: 20px;
	}

	.pick-set {
		padding: 2% 3%;
		width: 70%;
	}

	.nav {
		width: 97%;
	}
    
	.nav_items {
		width: 80%;
	}

	.nav_items a {
		font-size: 13px;
	}

	.card-price {
		font-size: 18px;
	}

	.card-crossed-price {
		font-size: 15px;
	}

	.pick-set {
		width: 100%;
	}

	.pick-set button {
		width: 65%;
		padding: 2% 3%;
	}

	.best {
		width: 95%;
	}

	.pick-colors,
	.pick-set button {
		width: 200px;
		font-size: 12px;
		padding: 10px 0;
	}
}

/* DropDown PopUp CSS */

.oneclick-popup,
.call-back-form,
.make-own-popup {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.make-own-popup.active {
	display: block;
}

.call-back-form.active {
	display: block;
}

.call-back-form .close-popup {
	width: 12px;
	height: 12px;
}

.call-back-form__inner form {
	display: flex;
	flex-direction: column;
}

.min15 {
	padding: 6% 0 1%;
}

.call-back-form__inner {
	width: 300px;
	height: 190px !important;
}

.oneclick-popup.active {
	display: block;
}

.oneclick-popup__inner-active {
	height: 500px !important;
}

.oneclick-popup p {
	margin: 3% 0;
}

.oneclick-popup__inner,
.call-back-form__inner,
.make-own-popup__inner {
	width: 300px;
	height: 330px;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.4s;
}

.make-own-popup__inner {
	height: 260px;
}

.make-own-popup__inner p:first-of-type {
	font-size: 15px;
	font-weight: 400;
}

.make-own-popup__inner p:last-of-type {
	font-size: 10px;
	font-weight: 400;
	margin-top: 8px;
}

.oneclick-popup-info {
	width: 90%;
	height: 90%;
	margin: auto;
}

.select-box {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.select-box .options-container {
	background: #dbb60e;
	color: #f5f6fa;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	overflow: hidden;
	order: 1;
}

.selected {
	background: #dbb60e;
	margin-bottom: 8px;
	color: #f5f6fa;
	position: relative;
	order: 0;
}

.selected::after {
	content: '';
	background: url('img/arrow-down.svg');
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;
	height: 100%;
	width: 32px;
	right: 10px;
	top: 5px;

	transition: all 0.4s;
}

.select-box .options-container.active {
	max-height: 180px;
	opacity: 1;
	overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
	transform: rotateX(180deg);
	top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
	width: 8px;
	background: #dbb60e;
}

.select-box .options-container::-webkit-scrollbar-thumb {
	background: #aa8d0d;
}

.select-box .option,
.selected {
	cursor: pointer;
}

.select-box .option:hover {
	background: #aa8d0d;
}

.select-box label,
.selected {
	cursor: pointer;
	padding: 9px 24px;
	display: block;
}

.select-box .option .radio {
	display: none;
}

.option label {
	color: #fff;
}

.sizes {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

#form1 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.size-select-label {
	width: 100%;
	margin: 2% 0 4%;
}

.sizes input[type='radio'] {
	display: none;
}

.popup-inputs {
	display: flex;
	flex-direction: column;
}

.name-input,
.phone-input {
	margin: 5% 0 1%;
	border: 2px solid #dbb60e;
	width: 100%;
	height: 30px;
	padding-left: 3%;
	outline: 0;
}

.submit-input {
	background-color: #dbb60e;
	border: 0;
	color: #fff;
	width: 100%;
	height: 38px;
	margin: 5% 0 0;
	cursor: pointer;
	font-size: 14px;
}

input[type='radio'] {
	display: none;
}

.close-popup {
	position: absolute;
	top: 3%;
	right: 3%;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

/* Footer */

.footer {
	height: 65px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
}

.footer p,
.footer a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	transition: 0.2s;
}

.footer a:hover,
.footer p:last-of-type:hover {
	color: #dbb60e;
}
